@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  place-items: initial;
  background: var(--bgColor);
}

:root {
  --textColor: #303030;
  --bgColor: #e4e4e4;
  --mainColor: #ffffff;
}